In [30]:
# my liked book id list
liked_books = ["4408", "31147619", "29983711", "9401317", "9317691", "8153988", "20494944"]

In [26]:
with open ("book_id_map.csv", "r") as f:
    i = 0
    while i < 5:
        line = f.readline()
        print(line)
        i += 1

book_id_csv,book_id

0,34684622

1,34536488

2,34017076

3,71730

In [14]:
#creating csv_id:book_id dictionary from book_id_map.csv file
csv_book_mapping = {}
with open("book_id_map.csv", "r") as f:
    while True:
        line = f.readline()
        if not line:
            break
        csv_id, book_id = line.strip().split(",")
        csv_book_mapping[csv_id] = book_id

In [15]:
csv_book_mapping['35']

'133394'

In [13]:
df = pd.read_csv("goodreads_interactions.csv")
print(len(df))

228648342

In [23]:
with open ("goodreads_interactions.csv", "r") as f:
    i = 0
    while i<5:   
        line = f.readline()
        print(line)
        i+=1

user_id,book_id,is_read,rating,is_reviewed

0,948,1,5,0

0,947,1,5,1

0,946,1,5,0

0,945,1,5,0

In [29]:
# creat user_id set who read the same book that listed in liked_books
overlap_users = set()

with open("goodreads_interactions.csv", 'r') as f:
    while True:
        line = f.readline()
        if not line:
            break
        user_id, csv_id, _, rating, _ = line.split(",")        
        if user_id in overlap_users:
            continue
        try:
            rating = int(rating)
        except ValueError:
            continue        
        book_id = csv_book_mapping[csv_id]
                
        if book_id in liked_books and rating >= 4:
                overlap_users.add(user_id)

In [31]:
#creating a recommended book list based on user who read the same book
rec_lines = []

with open("goodreads_interactions.csv", 'r') as f:
    while True:
        line = f.readline()
        if not line:
            break
        user_id, csv_id, _, rating, _ = line.split(",")
        
        if user_id in overlap_users:
            book_id = csv_book_mapping[csv_id]
            rec_lines.append([user_id, book_id, rating])

In [81]:
import pandas as pd

recs = pd.DataFrame(rec_lines, columns=["user_id", "book_id", "rating"])
recs["book_id"] = recs["book_id"].astype(str)

In [82]:
#recs.head(10)
recs

        user_id   book_id rating
0           284    977284      3
1           284    890054      4
2           284    837153      3
3           284   1586480      4
4           284     41814      5
...         ...       ...    ...
1530252  873216    127455      0
1530253  873216  10365343      0
1530254  873216  16131077      0
1530255  873216  18781576      0
1530256  873216     43615      0

[1530257 rows x 3 columns]

In [96]:
# create top 10 recommended book_id
top_recs = recs["book_id"].value_counts().head(10)

In [97]:
top_recs

2767052     1092
29983711    1089
2657        1074
3           1048
4671        1028
18143977     977
38447        911
5470         907
77203        886
5107         886
Name: book_id, dtype: int64

In [98]:
top_recs = top_recs.index.values # returns the book_id as numpy array

In [88]:
top_recs

array(['2767052', '29983711', '2657', '3', '4671', '18143977', '38447',
       '5470', '77203', '5107'], dtype=object)

In [89]:
#create data frame using books_titles.json
books_titles = pd.read_json("books_titles.json")
books_titles["book_id"] = books_titles["book_id"].astype(str) # converts book_id into string

In [90]:
books_titles.head()

,book_id,title,ratings,url,cover_image,mod_title
0,1333909,Good Harbor,10,https://www.goodreads.com/book/show/1333909.Go...,https://s.gr-assets.com/assets/nophoto/book/11...,good harbor
1,7327624,"The Unschooled Wizard (Sun Wolf and Starhawk, ...",140,https://www.goodreads.com/book/show/7327624-th...,https://images.gr-assets.com/books/1304100136m...,the unschooled wizard sun wolf and starhawk 12
2,6066819,Best Friends Forever,51184,https://www.goodreads.com/book/show/6066819-be...,https://s.gr-assets.com/assets/nophoto/book/11...,best friends forever
3,287140,Runic Astrology: Starcraft and Timekeeping in ...,15,https://www.goodreads.com/book/show/287140.Run...,https://images.gr-assets.com/books/1413219371m...,runic astrology starcraft and timekeeping in t...
4,287141,The Aeneid for Boys and Girls,46,https://www.goodreads.com/book/show/287141.The...,https://s.gr-assets.com/assets/nophoto/book/11...,the aeneid for boys and girls

In [91]:
#checks books_titles.book_id in top_recs.book_id if yes then returns those books_id and respective field data
books_titles[books_titles["book_id"].isin(top_recs)]

,book_id,title,ratings,url,cover_image,mod_title
71398,77203,The Kite Runner,1848782,https://www.goodreads.com/book/show/77203.The_...,https://images.gr-assets.com/books/1484565687m...,the kite runner
386663,2767052,"The Hunger Games (The Hunger Games, #1)",4899965,https://www.goodreads.com/book/show/2767052-th...,https://images.gr-assets.com/books/1447303603m...,the hunger games the hunger games 1
546297,5107,The Catcher in the Rye,2086945,https://www.goodreads.com/book/show/5107.The_C...,https://images.gr-assets.com/books/1398034300m...,the catcher in the rye
630937,4671,The Great Gatsby,2758812,https://www.goodreads.com/book/show/4671.The_G...,https://images.gr-assets.com/books/1490528560m...,the great gatsby
838525,5470,1984,2023937,https://www.goodreads.com/book/show/5470.1984,https://images.gr-assets.com/books/1348990566m...,1984
1031472,38447,The Handmaid's Tale,648783,https://www.goodreads.com/book/show/38447.The_...,https://images.gr-assets.com/books/1498057733m...,the handmaids tale
1077226,2657,To Kill a Mockingbird,3255518,https://www.goodreads.com/book/show/2657.To_Ki...,https://images.gr-assets.com/books/1361975680m...,to kill a mockingbird
1195873,18143977,All the Light We Cannot See,498685,https://www.goodreads.com/book/show/18143977-a...,https://images.gr-assets.com/books/1451445646m...,all the light we cannot see
1196415,3,Harry Potter and the Sorcerer's Stone (Harry P...,4765497,https://www.goodreads.com/book/show/3.Harry_Po...,https://images.gr-assets.com/books/1474154022m...,harry potter and the sorcerers stone harry pot...
1446134,29983711,Pachinko,8161,https://www.goodreads.com/book/show/29983711-p...,https://images.gr-assets.com/books/1462393298m...,pachinko

In [123]:
all_recs = recs["book_id"].value_counts()

In [106]:
all_recs.head(10)

2767052     1092
29983711    1089
2657        1074
3           1048
4671        1028
18143977     977
38447        911
5470         907
77203        886
5107         886
Name: book_id, dtype: int64

In [124]:
#create new dataframe on all recommended book_id
all_recs = all_recs.to_frame().reset_index() #resets the index of the frame
all_recs.columns = ["book_id", "book_count"] #renames the column header

In [126]:
all_recs.sort_values("book_count", ascending = False).head(5)

    book_id  book_count
0   2767052        1092
1  29983711        1089
2      2657        1074
3         3        1048
4      4671        1028

In [113]:
#updating all_recs dataframe by merging with books_titles dataframe
all_recs = all_recs.merge(books_titles, how="inner", on="book_id")

In [115]:
#all_recs["score"] = all_recs["book_count"] * (all_recs["book_count"] / all_recs["ratings"])
#all_recs.sort_values("score", ascending=False).head(10)

In [118]:
popular_recs = all_recs[all_recs["book_count"] > 200].sort_values("book_count", ascending=False).head(10)

In [130]:
def make_clickable(val):
    return '<a target="_blank" href="{}">Goodreads</a>'.format(val)

def show_image(val):
    return '<a href="{}"><img src="{}" width=50></img></a>'.format(val, val)

# lising the top 10 book deatils that even doesn't exits in liked_books list
popular_recs[~popular_recs["book_id"].isin(liked_books)].head(10).style.format({'url': make_clickable, 'cover_image': show_image})